<template>
  <footer class="footer">
        <p>Copyright © Socializer 2019</p>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>
<style scoped>
 /* .footer {
  background-color: #3fb0ac;
  text-align: center;
  padding: 20px;
} */
</style>


