<template>
  <header class="header">
    <div class="header-logo">
      <router-link to="/" class="nav-link">
        <img src="../../assets/img/logo_socializer.svg">
      </router-link>
    </div>
    <div class="login-section py-2">Déjà inscrit ?
      <!-- <a href="login-user.php" class="btn btn-rounded btn-transparent btn-border--blue">connexion</a> -->
      <router-link to="/login" class="btn btn-rounded btn-transparent btn-border--blue">connexion</router-link>
    </div>
  </header>
</template>

<script>
export default {
  name: "HeaderSignup"
};
</script>

<style scoped>
</style>


