<template>
  <!-- sidebar -->
  <aside id="sideBarUser">
    <!-- header sidebar -->
    <div class="header-user">
      <div class="logo-wrapper"></div>
      <div class="profil-picture no-picture">
        <a href="#">
          <div class="no-picture-wrapper">
            <i class="fas fa-upload"></i>
            <p>Ajouter une photo</p>
          </div>
        </a>
      </div>
      <h3>Daniel</h3>
    </div>

    <!-- menu -->
    <nav>
      <ul>
        <li>
          <router-link router-link-active="active" to="/dashboard/monit" exact>
            <a>
              <i class="fas fa-camera-retro"></i>
              monitoring
            </a>
          </router-link>
        </li>
        <li>
          <router-link to="/dashboard/pref" exact>
            <i class="far fa-comments"></i>
            messagerie
          </router-link>
        </li>
        <li >
          <router-link to="/dashboard" exact>
            <a>
              <i class="fas fa-user-circle"></i>
              informations
            </a>
          </router-link>
        </li>
        <li>
          <router-link router-link to="/dashboard/pref">
            <a>
              <i class="fas fa-cog"></i>
              préférences
            </a>
          </router-link>
        </li>
      </ul>
    </nav>

    <div class="footer-user">
      <button type="button" name="button" class="btn btn-reset">
        <i class="fas fa-power-off"></i>
        déconnexion
      </button>
    </div>
  </aside>
</template>

<script>
export default {
  name: "Sidebar"
};


</script>
<style scoped>
</style>