<template>
  <div class="home">
    <Header/>
    <main>
      <div class="dashboard-container">
        <Sidebar/>
        <!-- right content -->
        <div id="mainContent">
          <!-- title dashboard -->
          <div class="title-dashboard">
            <h2>Mes monitoring</h2>
          </div>

          <div class="py-5 home-section--features">
            <h3 class="pb-3">Facebook</h3>

            <a href class="mb-3 btn btn-squared btn-transparent btn-border--blue" @click="checkLoginState">
              <i class="fab fa-facebook-f"></i>
              voir la page
            </a>

            <div class="features-wrapper">
              <div class="feature-card">
                <h4>{{ friends }}</h4>
                <span>Number of friends</span>
              </div>

              <div class="feature-card">
                <h4>{{ posts.length }}</h4>
                <span>Number of posts</span>
              </div>

              <div class="feature-card">
                <h4>1 500</h4>
                <span>Number of posts</span>
              </div>
            </div>
          </div>

          <div class="py-5 home-section--features">
            <h3 class="pb-3">Instagram</h3>

            <a href class="mb-3 btn btn-squared btn-transparent btn-border--blue">
              <i class="fab fa-instagram"></i>
              voir la page
            </a>

            <div class="features-wrapper">
              <div class="feature-card">
                <h4>300</h4>
                <span>Number of followers</span>
              </div>

              <div class="feature-card">
                <h4>1 500</h4>
                <span>Number of posts</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer/>
  </div>
</template>
<script>
import Footer from "../components/layout/Footer";
import Sidebar from "../components/layout/Sidebar";
import Header from "../components/layout/Header";
import { mapGetters } from "vuex";

export default {
  name: "dashmonitoring",
  data() {
    return {
    //   date: new Date().toDateString(),
      data:{},
      friends:'',
      posts: [],
      status: '',
    };
  },
  computed: {
    ...mapGetters(["flavor"])
  },
  components: {
    Header,
    Footer,
    Sidebar
  },

  methods: {
    changed: function(event) {
    },
    statusChangeCallback(response) {
      if (response.status === "connected") {
        console.log("Logged in and authenticated");
        // this.status = 'Logged in and authenticated'
        this.fetchData();
      } else {
        console.log("Not authenticated");
        // this.status = 'not logged'
      }
    },
    checkLoginState() {
      FB.getLoginStatus( (response) => {
        this.statusChangeCallback(response);
      });
    },

    fetchData() {
      FB.api("https://graph.facebook.com//me?fields=id,name,birthday,friends,email,posts",(
        response) => {
        if (response && !response.error) {
          console.log('the respons', response);
          this.data = response;
          this.friends = response.friends.summary.total_count;
          this.posts = response.posts.data;
          console.log(this.posts);
        }

      });
    }
  },
  created() {
    // const vm = this;

    window.fbAsyncInit = () => {
      FB.init({
        appId: "577189906130896",
        cookie: true,
        xfbml: true,
        version: "v3.2"
      });

      FB.getLoginStatus((response) => {
        console.log('the go');
        this.statusChangeCallback(response);
      });
    };

    ((d, s, id) => {
      let js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  }
};
</script>
