.register-user-section {
  height: 100vh;
  @media (max-width: 420px) {
      height: auto;
  }
}
@media (max-width: 420px) {
  .register-user-section .login-section {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .login-section a {
    margin-left: 10px;
  }
   .main-title {
    padding-top: 30px;
  }
  @media (max-width: 420px) {
    .register-user-section .main-title {
      padding-top: 20px;
    }
  }

  .register-user-form {
    padding: 40px 0;
  }
  @media (max-width: 768px) {
    .register-user-form .request-link {
      display: block;
      margin-top: 10px;
    }
  }
   .cgu-wrapper {
    padding: 20px 0;
  }
}

.remember-check {
  padding: 20px 0;
}

.dashboard-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.user-info-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  @media (max-width: 420px) {
      display: block;
  }
}
.user-info-wrapper table {
  width: 100%;
}
.user-info-wrapper .white-card {
  background-color: white;
  width: 50%;
  padding: 20px;
}
@media (max-width: 420px) {
  .user-info-wrapper .white-card {
    width: 100%;
  }
}
.white-card:first-of-type {
  margin-right: 20px;
}
.white-card .info-user-line {
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}
@media (max-width: 420px) {
  .user-info-wrapper .white-card .info-user-line {
    display: block;
  }

.white-card .info-user-line label {
  color: #B5B4B4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.white-card .info-user-line span {
  font-weight: 500;
}
.white-card .custom-list li {
  font-size: 15px;
}
.white-card .custom-list li i {
  font-size: 17px;
  vertical-align: inherit;
}
.white-card table th {
  text-align: center;
  width: 100px;
}
.white-card table tbody td {
  padding: 20px 0;
  position: relative;
}
.white-card table tbody td .checkbox-custom {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}
